.idea/
.vscode/
*.iml
.packages
.pub
.dart_tool
*.sublime-*
\#*
.\#*
*.swp
*.css.map
*.pyc

# /lib dir is a library so we need to ignore the lock file
/pubspec.lock
/package-lock.json

.DS_STORE
build/
dist/
node_modules/
packages
report/
typings/

_*.runner.html
npm_debug.log
npm-debug.log
*.orig
report.xml
result.xml

*.pytest_cache
*.cache
.venv